<h1 class="page-title">About Us</h1>
<div class="post-wrapper d-flex flex-column align-items-center">
  <p class="text-center">With the supply chain compromised, we are delivering free PPE to the front line.</p>

<p>
  Hello Chicago!
</p>
<p>
	Since May 2020, Operation Face Shield Chicago has been working to distribute free 3D printed face shields all across the Chicagoland area. We have been driving hundreds of miles every week to pick up 300 to 500 face shields from our partner organization, Operation Face Shield Ann Arbor. My name is Juan Aguirre and I am a public health nurse. Every weekend, Juan Aguirre, BSN, RN has been driving round trip from Ann Arbor to Chicago to pick up a few hundred face shields  from the Ann Arbor chapter of our operation! To date, Operation Face Shield has distributed nearly 50,000 face shields worldwide, with 2,000 sourced into the City of Chicago alone! Our goal is to fill the PPE supply chain gap by any means necessary.
</p>
<p>
	We are pleased to announce a new partnership with the Harold Washington Library’s Maker Lab, Chicago’s first free and publicly accessible maker space! The Maker Lab has all the equipment needed to print face shields, including: digital design software, 3D printers with build areas of 11"x6"x6" and 4.7"x4.7"x4.7", laser cutters with a 20"x12" bed, and electronic cutters. 
</p>
<p>
  WE NEED YOUR HELP TO KEEP THE COMMUNITY SAFE
</p> 
<p>
	The cost to print a face shield is about $2, and that cost adds up when printing thousands per week! We are collecting donations to purchase Zyltech PETG filament needed to print these face shields. Donations can be made via the yellow button in the nav bar, which will link you to PayPal.
</p> 
</div>