<h1 class="page-title">Contact Us</h1>
<div class="post-wrapper d-flex flex-column align-items-center">
  <h2>Juan Aguirre</h2>
  <div>
    <p><strong>Email:</strong> juana@theyardillinois.com</p>
    <p><strong>Phone: </strong> (312) 720-1396</p>
  </div>
  <h2 class="mt-3">Jaron Armiger</h2>
  <p>(for website issues)</p>
  <div>
    <p><strong>Email: </strong> jaron.armiger@gmail.com </p>
  </div>
</div>