<div class="row">
  <div class="col-md-6">
    <h2 class="print-header">3D Print Files</h2>
    <%= image_pack_tag "media/images/visor-cropped.png", class: "files-img" %>
    <%= image_pack_tag "media/images/ear-saver.png", class: "files-img" %>
  	<div class="files-wrapper">
      <p>Acces 3D print files below to print your own ear savers and visors.</p>
      <div class="print-links">
        <a href="https://drive.google.com/drive/u/0/folders/1UCLFYgbQiWUnyqVzcoiSLw6p3AYBssBd?fbclid=IwAR2iZaF-rFFMh1eW1Gh59qQdGJbPIivO_Wc3-XHEX4Aa5qzhYVqfCVVBikY">STL Model 2.1</a>
        <a href="https://a360.co/3eyk9Zw">Fusion 360</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h2 class="print-header">Assembly Videos</h2>
    <div class="files-wrapper">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/blvAaNILftw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/_FoTK_en_Zs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/EaGMRE5AuW4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ipEnBjBffjQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>