<% if !user_signed_in? %>
  <div class="alert alert-success">
  	<%= link_to "Login", new_user_session_path %> or
  	<%= link_to "Sign up", new_user_registration_path %>!
  </div>
<% end %>

<% if current_user && !current_user.admin? && !current_user_account %>
  <div class="alert alert-notice">
	<%= link_to "Complete account set up", new_account_path %> to begin ordering face shields!
  </div>
<% end %>
    <div class="links-wrapper mobile-links">
      <h2 class="print-header">3D Print Files</h2>
      <div class="print-links">
        <a href="https://drive.google.com/drive/u/0/folders/1UCLFYgbQiWUnyqVzcoiSLw6p3AYBssBd?fbclid=IwAR2iZaF-rFFMh1eW1Gh59qQdGJbPIivO_Wc3-XHEX4Aa5qzhYVqfCVVBikY">STL Model 2.1</a>
        <a href="https://a360.co/3eyk9Zw">Fusion 360</a>
      </div>
      <h2 class="print-header">Donate</h2>
      <div class="print-links">
        <a href="#">Paypal</a>
      </div>
    </div>
    <div class="main-wrapper">
      <%= render @posts %>
    </div>
