.links-wrapper {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	max-width: 25rem;
	margin: auto;
	padding: 1rem;
	border-radius: $border-radius;
	background-color: white;
}

.print-header {
	text-align: center;
	color: $dark-blue;
}

.print-links {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 1rem;
}

.print-links a {
	background-color: $secondary-color;
	margin-top: .5rem;
	padding: .5rem 1rem;
	//max-width: 10rem;
	text-align: center;
	border-radius: $border-radius;
	color: white;
	font-weight: 700;
	&:hover {
		text-decoration: none;
	}
}

.home-signup-wrapper {
  display: none;
}

#home-hero {
  background-image: url("../images/surgeon-mobile.jpg");
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  margin-top: -1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#hero-header {
 font-weight: 700;
 margin-top: 1.2rem;
 color: $dark-blue;
 font-size: 12vw;
}

.mobile-buttons {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-bottom: 2rem;
  margin-right: 1.5rem;
}

.mobile-buttons button {
  background-color: $main-color;
  color: white;
  font-weight: 500;
  margin-bottom: 2rem;
}

.info-home {
  align-self: flex-end;
  margin-right: 1.8rem;
  margin-bottom: 3rem;
}

.info-home p {
  margin: 0;
  font-weight: 500;
}

.delivered {
  background-color: #fff;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.delivered h1 {
  margin: 0;
  color: $main-color;
  font-size: 8vw;
  padding: .7rem 0;
  text-align: center;
}

.delivered span {
  font-weight: 700;
  display: block;
}

.assembly-video {
  padding: .7rem 0;
  background-color: $main-color;
}

.assembly-video iframe {
  max-width: 100%;
}

.assembly-video h2 {
  color: #fff;
  text-align: center;
}

.assembly-video a:hover {
  text-decoration: none;
}

#diagram-desktop {
  display: none;
}

#diagram-mobile {
  display: block;
  max-width: 100vw;
  padding-top: 1rem;
  background-color: #fff;
}

.news-home {
  background-color: $main-color;
}

.news-home h2 {
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

.news-home a:hover {
  text-decoration: none;
}

.article-home h2 {
  
}

@include media-breakpoint-up(md) {
	.mobile-buttons {
	  display: none;
	}

	.print-col {
		//position: relative;
	}
	.links-wrapper {
		position: fixed;
		top: 8rem;
		left: 4rem;
		width: 15rem;
	}

    #home-hero {
      background-image: url("../images/surgeon-desktop.jpg");
      height: 100vh;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 100vw;
      margin-top: -7rem;
      position: relative;

    }

    #hero-header {
      position: absolute;
      bottom: 2rem;
      right: 3vw;
      font-size: 7vw;
      font-weight: 700;
      //display: none;
    }

    .home-signup-wrapper {
      position: absolute;
      display: block;
      left: 4rem;
      top: 6.5rem;
      background-color: rgba(255,255,255,0.6);
      //background-color: $main-color;
      padding: 1.5rem;
      border-radius: 3rem;
    }

    .home-signup-p {
	  font-size: 1.4rem;
	  margin-bottom: 0;
	  text-align: center;
    }

    #home-signup-form {
      margin-bottom: 0;
    }

    #or {
      font-size: 4rem;
      padding: 0;
      margin-bottom: -.7rem;
    }

    #three-link {
      background-color: $main-color;
      font-size: 1.5rem;
      width: 300px!important;
    }

    #google-btn {
      width: 250px!important;
      margin: auto;
      margin-top: 1rem;
      margin-bottom: -1rem;
      font-size: 1.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #google-btn span {
      text-align: center;
    }

	.delivered h1 {
	  margin: 0;
	  font-size: 7vw;
	  padding: 2rem 0;
	}

	.delivered span {
	  display: inline;
	}

    .assembly-video {
      background-color:$main-color;
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1.2rem 0;
    }
    
	.assembly-video iframe {
	  margin: 1rem 0;
	}


    #diagram-desktop {
      display: block;
      max-width: 100vw;
    }

    #diagram-mobile {
      display: none;
    }

    .news-home {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100vw;
      padding: 1rem 0;
    }

    .news-home h2 {
      margin-bottom: 1rem;
    }

    .articles-container {
      display: flex;
      justify-content: space-around;
    }

    .article-home {
      max-width: 30%;
    }

    .article-header-home {
      font-size: 1.5rem;
      margin-top: 1rem;
    }

    .article-header-home:hover {
      color: #DDD;
    }


/*
    .diagram {
      background-image: url("../images/diagram-desktop.jpg");
      max-height: 110vh;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 100vw;
      position: relative;
    }
*/
}


