.links-wrapper {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	max-width: 25rem;
	margin: auto;
	padding: 1rem;
	border-radius: $border-radius;
	background-color: white;
}

.print-header {
	text-align: center;
	color: $dark-blue;
}

.print-links {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 1rem;
}

.print-links a {
	background-color: $secondary-color;
	margin-top: .5rem;
	padding: .5rem 1rem;
	//max-width: 10rem;
	text-align: center;
	border-radius: $border-radius;
	color: white;
	font-weight: 700;
	&:hover {
		text-decoration: none;
	}
}


@include media-breakpoint-up(md) {
	.print-col {
		//position: relative;
	}
	.links-wrapper {
		position: fixed;
		top: 8rem;
		left: 4rem;
		width: 15rem;
	}

	.print-links {
  	  flex-direction: column;
    }

    #home-hero {
      background-image: url("../images/surgeon-desktop.jpg");
      height: 100vh;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 100vw;
      margin-top: -7rem;
      position: relative;

    }

    .home-signup-wrapper {
      position: absolute;
      left: 4rem;
      top: 7.5rem;
      background-color: rgba(255,255,255,0.6);
      //background-color: $main-color;
      padding: 1.5rem;
      border-radius: 3rem;
    }

    .home-signup-p {
	  font-size: 1.4rem;
	  margin-bottom: 0;
	  text-align: center;
    }

    #home-signup-form {
      margin-bottom: 0;
    }

    #or {
      font-size: 4rem;
    }

    #three-link {
      background-color: $main-color;
      font-size: 1.5rem;
      width: 400px!important;
    }
}


