.order-form-address {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 0;
	border-radius: none!important;
}

.address-group {
	border-radius: 0;
}

.form-group input {
    border: $border;
	border-color: $dark-blue;
	border-radius: $border-radius;
}

.form-group textarea {
    border: $border;
	border-color: $dark-blue;
	border-radius: $border-radius;
}

#new-address-div {
	transition: all 2s ease;
}

#new-address-btn {
	display: flex;
	align-items: center;
	margin: 1rem 0;
}

#new-address-btn i {
	margin-right: .5rem;
}