<div class="row">
  <div class="col-md-6">
  	<%= link_to unprocessed_admin_orders_path, class: "right-link" do %>
  	  <h1>Unprocessed</h1>
  	  <span class="material-icons">last_page</span>
  	<% end %>
  	<%= render @unprocessed %>
  </div>
  <div class="col-md-6">
	<%= link_to processed_admin_orders_path, class: "right-link" do %>
  	  <h1>Processed</h1>
  	  <span class="material-icons">last_page</span>
  	<% end %>
  	<%= render @processed %>
  </div>
</div>