<div class="links-wrapper desktop-links">
  <h2 class="print-header">3D Print Files</h2>
  <div class="print-links">
    <a href="https://drive.google.com/drive/u/0/folders/1UCLFYgbQiWUnyqVzcoiSLw6p3AYBssBd?fbclid=IwAR2iZaF-rFFMh1eW1Gh59qQdGJbPIivO_Wc3-XHEX4Aa5qzhYVqfCVVBikY">STL Model 2.1</a>
    <a href="https://a360.co/3eyk9Zw">Fusion 360</a>
  </div>
  <h2 class="print-header">Donate</h2>
  <div class="print-links">
    <a href="#">Paypal</a>
  </div>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" id="paypal-donate">
	<input type="hidden" name="cmd" value="_donations" />
	<input type="hidden" name="business" value="JuanA@theyardillinois.com" />
	<input type="hidden" name="currency_code" value="USD" />
	<input type="submit" id="paypal-submit" value="donate">
  </form>
  <%= cookies[:redirect] %>

</div>