<style>
	* {
		font-family: helvetica, sans-serif;
		color: #333;
	}

	a {
		text-decoration: none;
		font-weight: 700;
		color: white;
		display: block;
		background-color: rgba(163, 70, 184, 0.8);
		width: 100px;
		padding: 10px 10px;
		text-align: center;
		border-radius: 10px;
		margin: 10px auto;
	}
	
	span {
		font-weight: 700;
	}
	
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	div {
		border-top: 1px solid #CCC;
		padding-top: 10px;
		border-bottom: 1px solid #CCC;
		padding-bottom: 10px;
		margin: 10px 0;
	}
</style>

<p>
  <%= @account.contact_first_name %>,
</p>
<p>
  Your order has been canceled! We appreciate you having reached out to us, and hope to reconnect in the future.
</p>
<p>
	Keep fighting the good fight!
</p>
<em>
	Operation Face Shield Chicago
</em>
<div class="order-info">
	<h2>Order Info</h2>
	<ul>
		<li><span>Recipient: </span><%= @account.institution_name %></li>
		<li><span>Face Shields: </span><%= @order.num_shields %></li>
		<li><span>Mask Adjusters: </span><%= @order.num_adjusters %></li>
	</ul>
</div>


