<div class="main-wrapper">
  <h1 class="page-title">Edit Address</h1>
  <% provide(:submit, "Update Address") %>
  <% provide(:preselect_state, @address.state) %>
  <%= render 'addresses/address_form' %>
  </div> 
</div>