<div class="icon-bar">
	<%= link_to root_path do %>
		<span class="material-icons">
			home
		</span>
	<% end %>
	<%= link_to admin_orders_path do %>
		<span class="material-icons">
			library_books
		</span>
	<% end %>
	<%= link_to new_post_path do %>
		<span class="material-icons">
			add_comment
		</span>
	<% end %>

</div>
