<div class="icon-bar">
	<%= link_to admin_orders_path do %>
		<span class="material-icons">
			library_books
		</span>
	<% end %>
	<%= link_to new_post_path do %>
		<span class="material-icons">
			add_comment
		</span>
	<% end %>
	<%= link_to new_article_path do %>
		<span class="material-icons">
			post_add
		</span>
	<% end %>
	<%= link_to edit_user_registration_path do %>
		<span class="material-icons">
			account_circle
		</span>
	<% end %>
</div>
