<div class="icon-bar">
	<%= link_to root_path do %>
		<span class="material-icons">
			home
		</span>

	<% end %>
	<%= link_to new_order_path do %>
		<span class="material-icons">
			local_shipping
		</span>

	<% end %>
	<%= link_to new_post_path do %>
		<span class="material-icons">
			add_comment
		</span>

	<% end %>
	<%= link_to orders_path do %>
		<span class="material-icons">
			library_books
		</span>

	<% end %>
</div>